loop of even no.

In [7]:
for i in range (0,22,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

loop in odd no.

In [11]:
for i in range (1,33,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31

first 10 natural no

In [12]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

first 10 whole no.

In [14]:
for i in range (0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

write a program to pint first 10 integers and there squares

In [16]:
print("first ten integers")
for i in range (1,11):
  print(i**2)

first ten integers
1
4
9
16
25
36
49
64
81
100

write a loop statement to print the following statement    10,20,30,......300

In [17]:
for i in range (1,31):
  print(i*10)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

write a loop statement to print the following series 105,98,91,........7

In [20]:
for i in range (105,6,-7):
  print( i,end='')

105989184777063564942352821147

write a program to print first 10 natural numbers in reverse order

In [24]:
for i in range (10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

write a program to print sum of first natual no.

In [25]:
sum = 0
for i in range(1,11):
  sum = sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55

write a program to print  sum of first even no.

In [28]:
for i in range (2,22,2):
  sum = sum+i
  print (sum)

112
116
122
130
140
152
166
182
200
220

wrint a program to print the table entered by user

In [32]:
print ("enter the table =" "")
table = int(input())
for i in range (1,11):
  print(table*i)

enter the table =
2
2
4
6
8
10
12
14
16
18
20

write a program to display all even no. that fall btw two no. (exclusive) both no. entered by users

In [37]:
num1 =(int(input("Enter the number num 1")))
num2 =(int(input("Enter the number num 2")))
if (num1 > num2):
  for i in range(num2 +1,num1):
    if i%2 == 0:
     print(i)
    else :
     for i in range(num1 +1,num2):
      if i%2 ==0:

       print(i)

Enter the number num 178
Enter the number num 209
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76

write a program to check whether the program is prime or not

In [40]:
num = int(input("Enter a number: "))

if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")

else:
   print(num,"is not a prime number")

Enter a number: 23
23 is a prime number

write a progam to find sum of digits of a number accepted from user

In [44]:
def sum_of_digits(number):
    sum = 0
    while number > 0:
        digit = number % 10
        sum += digit
        number //= 10
    return sum

user_input = int(input("Enter a number: "))

result = sum_of_digits(user_input)

print("The sum of the digits is:", result)

Enter a number: 33
The sum of the digits is: 6

write a program to find product of a number accepted from user

In [45]:
def product_of_digits(number):
    product=1
    while number > 0:
        digit = number % 10
        product *= digit
        number //= 10


    return product

user_input = int(input("Enter a number: "))

result = product_of_digits(user_input)

print("The product of the digits is:", result)

Enter a number: 34
The product of the digits is: 12

write a program to reverse the number accepted from user

In [48]:
def reverse_number(number):
  reversed_number = 0
  while number > 0:
    digit = number % 10
    reversed_number = reversed_number * 10 + digit
    number //= 10

    return reversed_number

user_input = int(input("Enter a number: "))

result = reverse_number(user_input)

print("The reversed number is:", result)

Enter a number: 12
The reversed number is: 2

write a program to print fibonacci series

In [50]:
def fibonacci_series(n):
  fibonacci_series =[0,1]
  while len(fibonacci_series) < n:
    next_number = fibonacci_series[-1] + fibonacci_series[-2]
    fibonacci_series.append(next_number)
  return fibonacci_series

user_input = int(input("Enter the number of terms: "))

result = fibonacci_series(user_input)

print("The Fibonacci series is:", result)

Enter the number of terms: 2
The Fibonacci series is: [0, 1]

write a program to print factorial of a number

In [54]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Accepting input from the user
user_input = int(input("Enter a number: "))

# Calculating the factorial
result = factorial(user_input)

# Displaying the result
print("The factorial of", user_input, "is:", result)

Enter a number: 4
The factorial of 4 is: 24

write  a program to check whether number is armstrong or not

In [64]:
num1 = input("Enter the number: ")
p=0
for i in num1:
  p=p+int(i)**3
if int(num1) == p:
  print("Armstrong")
  print("armstrong")
else:
  print("not armstrong")

Enter the number: 23
not armstrong